<header class="header">

    <div class="barHeader">
        <div><a href="tel:+34647915903">¡Llámanos! 647915903</a></div>
        <div><a href="mailto:info@moliere35informatica.com">info@moliere35informatica.com</a></div>
    </div>



 <div class="mainHeader">

    <div class="backHome">
      <a (click)="backHome()">
        <img class="logo" src="img/molier35-informatica-logo.png" alt="LogoMoliere35informatica">
      </a>
    </div>

    
 <nav class="topNav">

    <ul>
        <li><a (click)="backHome()">INICIO</a></li>
        <li><a (click)="servicios()">SERVICIOS</a></li>
        <li><a (click)="disenoWeb()">DISEÑO WEB</a></li>
        <li><a (click)="quienesSomos()">QUIÉNES SOMOS</a></li>
        <li><a (click)="contacto()">CONTACTO</a></li>
        <li ><a (click)="inicioSesion()">INICIO SESIÓN</a></li>
    </ul>
  </nav>

</div>







</header>
    
  
